#clkct{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(c2.png) no-repeat;
    background-size: 100%;
}

#hr, #min, #sec{
    position: absolute;
    background: grey;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hr{
    width: 1.8%;
    height: 26%;
    top: 23.5%;
    left: 49.75%;
    opacity: 0.8;


}
#min{
    width: 1.5%;
    height: 30%;
    top: 20%;
    left: 49.5%;
    opacity: 0.8; 

}
#sec{
    width: 1%;
    height: 38%;
    top: 11%;
    left: 50.0%;
    opacity: 0.8;


   
}